.vscode/**
.vscode-test/**
.github/**
src/**
test/**
node_modules/**
tsconfig.json
esbuild.js
.eslintrc.*
.gitignore
.npmrc
yarn.lock
package-lock.json
**/*.ts
!out/extension.js
!out/extension.js.map
**/.DS_Store
